{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Ofsted - Login{% endblock %}

{% block inner_content %}
<!-- Initialise error summary for page -->
{{ form.error_summary }}

<!-- templates/registration/login.html -->
<body>
<h2 class="heading-large">Ofsted - Childminder Application Review</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_div}}
    <input type="submit" class="button" value="Log in" alt='Login'/>
</form>
</body>
{% endblock %}