{% extends 'govuk_template.html' %}
{% block page_title %}Review: new adult in the home{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% load alt_text_extras %}

{% block inner_content %}
{% include 'back-button.html' %}

{{form.error_summary}}
{% for form in formset_adult %}
    {{form.error_summary}}
{% endfor %}
    <form method="post" novalidate>
        <h1 class="form-title heading-large">Review: new people in the home</h1>
        <p>
            Please check the boxes if there are  errors.
        </p>
        {% csrf_token %}
        {{ formset_adult.management_form }}

        {% for record, id, health_check_status, title, name, day, month, year, relationship, email,PITH_mobile_number, dbs_certificate_number, dbs_on_capita, dbs_is_recent, enhanced_check, on_update, lived_abroad, military_base, formsetadult, serious_illness_set, hospital_admission_set, reasons_known_to_council_health_check, previous_names, previous_addresses in adult_lists %}

        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Health questions status
                </td>
                <td style="word-wrap: break-word">
                    {{health_check_status}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.health_check_status_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="health_check_status{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.health_check_status_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.health_check_status_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}
            {% if title != '' %}
            <tr>
                <td style="word-wrap: break-word">
                    Title
                </td>
                <td style="word-wrap: break-word">
                    {{title}}
                </td>
                <td class="change-answer">
                </td>

            </tr>
            {% endif %}
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{name}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.full_name_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.full_name_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                {% if month == 1 %}
                <td style="word-wrap: break-word">
                    {{day}} January {{year}}
                </td>
                {% elif month == 2 %}
                <td style="word-wrap: break-word">
                    {{day}} February {{year}}
                </td>
                {% elif month == 3 %}
                <td style="word-wrap: break-word">
                    {{day}} March {{year}}
                </td>
                {% elif month == 4 %}
                <td style="word-wrap: break-word">
                    {{day}} April {{year}}
                </td>
                {% elif month == 5 %}
                <td style="word-wrap: break-word">
                    {{day}} May {{year}}
                </td>
                {% elif month == 6 %}
                <td style="word-wrap: break-word">
                    {{day}} June {{year}}
                </td>
                {% elif month == 7 %}
                <td style="word-wrap: break-word">
                    {{day}} July {{year}}
                </td>
                {% elif month == 8 %}
                <td style="word-wrap: break-word">
                    {{day}} August {{year}}
                </td>
                {% elif month == 9 %}
                <td style="word-wrap: break-word">
                    {{day}} September {{year}}
                </td>
                {% elif month == 10 %}
                <td style="word-wrap: break-word">
                    {{day}} October {{year}}
                </td>
                {% elif month == 11 %}
                <td style="word-wrap: break-word">
                    {{day}} November {{year}}
                </td>
                {% elif month == 12 %}
                <td style="word-wrap: break-word">
                    {{day}} December {{year}}
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetadult.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.date_of_birth_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Relationship
                </td>
                <td style="word-wrap: break-word">
                    {{relationship}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.relationship_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="relationship{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.relationship_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.relationship_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Email
                </td>
                <td style="word-wrap: break-word">
                    {{email}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.email_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="email{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.email_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.email_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Phone number
                </td>
                <td style="word-wrap: break-word" colspan="2">
                    {{PITH_mobile_number}}
                </td>
            </tr>
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    {{ formsetadult.lived_abroad_comments.label }}
                </td>
                <td style="word-wrap: break-word">
                    {{ lived_abroad|yesno:"Yes,No"}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.lived_abroad_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="lived_abroad{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.lived_abroad_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.lived_abroad_comments}}
                    </div>
                </td>
            </tr>
            {# ================================== #}

            <tr>
                <td style="word-wrap: break-word">
                    {{ formsetadult.military_base_comments.label }}
                </td>
                </td>
                <td style="word-wrap: break-word">
                    {{ military_base|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                    {{ formsetadult.military_base_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="military_base{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.military_base_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.military_base_comments}}
                    </div>
                </td>
            </tr>

            {# ================================== #}
            {% if enhanced_check %}
            <tr>
                <td style="word-wrap: break-word">
                    {{ formsetadult.capita_comments.label }}
                </td>
                <td style="word-wrap: break-word">
                    {{ dbs_on_capita|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                </td>
            </tr>
            {# ================================== #}
            {% if dbs_on_capita %}
            <tr>
                <td style="word-wrap: break-word">
                    Is it dated within the last 3 months?
                </td>
                <td style="word-wrap: break-word">
                    {{ dbs_is_recent|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                </td>
            </tr>
            {% endif %}
            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    DBS certificate number
                </td>
                <td style="word-wrap: break-word">
                    {{dbs_certificate_number}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.dbs_certificate_number_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="dbs_certificate_number{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments}}
                    </div>
                </td>
            </tr>
            {% endif %}
            {# ================================== #}
            {% if enhanced_check is not None %}
            <tr>
                <td style="word-wrap: break-word">
                    Enhanced DBS check for home-based childcare?
                </td>
                <td style="word-wrap: break-word">
                    {{ enhanced_check|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                    {{ formsetadult.enhanced_check_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="enhanced_check{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.enhanced_check_comments.help_text }}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.enhanced_check_comments }}
                    </div>
                </td>
            </tr>
            {% endif %}

            {% if on_update is not None %}
            <tr>
                <td style="word-wrap: break-word">
                    On the DBS Update Service?
                </td>
                <td style="word-wrap: break-word">
                    {{ on_update|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                    {{ formsetadult.on_update_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="on_update{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.on_update_comments.help_text }}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.on_update_comments }}
                    </div>
                </td>
            </tr>
            {% endif %}

            {# ================================== #}
            <tr>
                <td style="word-wrap: break-word">
                    Known to council social Services in regards to their own children?
                </td>
                <td style="word-wrap: break-word">
                    {{ record.known_to_council|yesno:"Yes,No" }}
                </td>
                <td class="change-answer">
                    {{ formsetadult.known_to_council_declare }}
                </td>
            </tr>


            {% if record.known_to_council is True %}
            <tr>
                <td style="word-wrap: break-word">
                    Tell us why
                </td>
                <td style="word-wrap: break-word">
                    {{ reasons_known_to_council_health_check }}
                </td>
                <td class="change-answer">
                    {{ formsetadult.reasons_known_to_council_health_check_declare }}
                </td>
            </tr>

            {% endif %}

            </tbody>
            <tbody>

        </table>

        {% if previous_names or previous_addresses %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}'s previous names and addresses
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for prevname in previous_names %}
            <tr>
                <td>
                    Previous name {{ forloop.counter }}
                </td>
                <td>
                    {{ prevname.name }}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult-update-previous-names' %}?id={{ application_id }}"
                        alt="Change the {{ forloop.counter|inflect }} previous name">Change</a>
                </td>
            </tr>
            <tr>
                <td>
                    Start date
                </td>
                <td>
                    {{ prevname.start_date}}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult-update-previous-names' %}?id={{ application_id }}"
                        alt="Change the start date for the {{ forloop.counter|inflect }} previous name">Change</a>
                </td>
            </tr>
            <tr>
                <td>
                    End date
                </td>
                <td>
                    {{ prevname.end_date }}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult-update-previous-names' %}?id={{ application_id }}"
                        alt="Change the end date for the {{ forloop.counter|inflect }} previous name">Change</a>
                </td>
            </tr>
            {% endfor %}
            {% for address in previous_addresses %}
            <tr>
                <td>
                    Previous address {{ forloop.counter }}
                </td>
                <td>
                    {{address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                    {{address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                    {{address.town}}{% if address.town %}<br />{% endif %}
                    {{address.county}}{% if address.county %}<br />{% endif %}
                    {{address.country}}{% if address.country %}<br />{% endif %}
                    {{address.postcode}}{% if address.postcode %}<br />{% endif %}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult_add_previous_address_change' %}?id={{ application_id }}&state=change&address_id={{address.previous_address_id}}"
                    alt="Change the {{ forloop.counter|inflect }} previous address">Change</a>
                </td>
            </tr>

            {% if address.moved_in_date %}
            <tr>
                <td>
                    Moved in
                </td>
                <td>
                    {{ address.moved_in_date}}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult_add_previous_address_change' %}?id={{ application_id }}&state=change&address_id={{address.previous_address_id}}"
                       alt="Change the move in date for {{ forloop.counter|inflect }} previous address">Change</a>
                </td>

            </tr>
            {% endif %}

            {% if address.moved_out_date %}
            <tr>
                <td>
                    Moved out
                </td>
                <td>
                    {{ address.moved_out_date }}
                </td>
                <td class="change-answer">
                    <a href="{% url 'adult_add_previous_address_change' %}?id={{ application_id }}&state=change&address_id={{address.previous_address_id}}"
                       alt="Change the move out date for {{ forloop.counter|inflect }} previous address">Change</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <a href="{% url 'adult-update-previous-names' %}/?id={{application_id}}" class="button button-secondary">Add previous names</a><br>
        <a href="{% url 'adult_add_previous_address' %}?id={{ application_id }}&state=entry" class="button button-secondary">Add previous addresses</a>

        {% for dict in previous_registration_lists %}
        {% if dict.adult_id == id %}
        {% include "individual_lookup_table.html" with referrer="childminder_pith"  adult_id=id individual_id=dict.prev_reg.individual_id %}
        {% endif %}
        {% endfor %}

        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{ name }} relationship
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <td colspan="1">
                    <label id="{{ formsetadult.cygnum_relationship.auto_id }}-label">
                        {{ formsetadult.cygnum_relationship.label }}
                    </label>
                </td>
                <td colspan="2">
                    {% for error in formsetadult.cygnum_relationship.errors %}
                      <span class="error-message">{{ error }}</span>
                    {% endfor %}
                    {{ formsetadult.cygnum_relationship }}
                </td>
            </tbody>
        </table>


         <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Current treatment
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class=summary-column> Are you currently being treated by your GP, another doctor or a hospital?</td>
                    <td class=summary-column> {{ record.currently_being_treated|yesno:"Yes,No" }} </td>
                </tr>

                {% if record.currently_being_treated %}
                <tr>
                    <td class=summary-column>Details of the illness or condition</td>
                    <td class=summary-column>{{ record.illness_details }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Serious illnesses
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class=summary-column>Have you had any serious illnesses within the last five years?</td>
                    <td class=summary-column>{{ record.has_serious_illness|yesno:"Yes,No" }}</td>
                </tr>
                {% if record.has_serious_illness %}
                {% for illness in serious_illness_set %}
                <tr>
                    <td class=summary-column>{{ illness.description }}</td>
                    <td class=summary-column>{{ illness.start_date}} to {{ illness.end_date}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Hospital admissions
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Have you been admitted to hospital in the last 2 years?</td>
                    <td>{{ record.has_hospital_admissions|yesno:"Yes,No" }}</td>
                </tr>
                {% if record.has_hospital_admissions %}
                {% for illness in hospital_admission_set %}
                <tr>
                    <td>{{ illness.description }}</td>
                    <td>{{ illness.start_date}} to {{ illness.end_date}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <br>

        {% endfor %}

        {% for id, name, previous_names, previous_addresses in adult_ebulk_lists %}

        {% endfor %}

        <br>

        {% if linking_complete %}
            <input type="submit" class="button" value="Confirm and continue"/>
        {% else %}
            <input type="submit" class="button" value="Confirm and continue" disabled/>
        {% endif %}
        <input type="hidden" value="{{application_id}}" name="id"/>
    </form>

{% endblock %}