{% extends 'govuk_template.html' %}
{% block page_title %}Previous addresses{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->

{{form.error_summary}}

<h1 class="form-title heading-large">
    Previous address {{order}}
</h1>
{% include 'adult_update_templates/previous-address-snippet.html' with queryset=previous_addresses %}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">

        {% if not form.errors %}
        <div id="id_postcode-group" class="form-group-required form-group">
            <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
                {{form.postcode.label}}
            </label>
            {{form.postcode}}
        </div>
        {% elif form.errors %}
        <div id="id_postcode-group" class="form-group-error form-group-required form-group">
            <label id="id_postcode-label" class="form-label-bold" for="id_postcode">
                {{form.postcode.label}}
            </label>
            <span class="error-message">
                {% for error in form.postcode.errors %}
                    {{error}}
                {% endfor %}
            </span>
            {% if form.postcode.initial is not None %}
            <input type="text" name="postcode" class="form-control-error form-control"
                   value="{{form.postcode.initial}}" required="" id="id_postcode">
            {% elif form.postcode.initial is None %}
            <input type="text" name="postcode" class="form-control-error form-control"
                   value="" required="" id="id_postcode">
            {% endif %}
            <input type="hidden" name="state" value="entry"/>
            <input type="hidden" name="person_id" value="{{ person_id }}"/>
            <input type="hidden" name="person_type" value="{{ person_type }}"/>

        </div>
        {% endif %}
        {% csrf_token %}


        <input type="submit" class="button" value="Find address"
               name="postcode-search">
        <br>
        <br>
        <a href="{{ manual_url }}"
           name="manual" id="manual">Enter address manually</a>
        <input type="hidden" id="id" name="id" value="{{id}}"/>
        <input type="hidden" name="state" value="entry"/>
        <input type="hidden" name="person_id" value="{{ person_id }}"/>
        <input type="hidden" name="person_type" value="{{ person_type }}"/>
    </div>
</form>

<div class="top-padded">
            <a href="{% url 'new_adults_summary' %}?id={{id}}">
                Return to list
            </a>
        </div>

{% endblock %}
