xmlrunner/
logs/
arc_service/settings.py
arc_application/migrations
arc_application/__pycache__
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
.coverage
.idea/
.settings/
