{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

{% block inner_content %}
<div class="column-full">
    <div class="form-group grid-row" style="padding-top: 30px;">
        <a href="{{ URL_PREFIX }}/logout" class="link-back"
           style="margin-right: 10px; line-height: 28px">
            Logout
        </a>
    </div>
<!-- templates/registration/login.html -->
<div class="column-full">
    <br>
    <p>Please choose to either continue reviewing an application or to start a new review</p>
    <br>
      <input type="submit" class="button" value="New Application" alt='Login'>
</div>
{% endblock %}