{% extends 'govuk_template.html' %}
{% block page_title %}Previous names {% if person_type != 'APPLICANT' %}of adults in your home{% endif %}{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include 'back-button.html' %}

{% for form in form_set %}
    {{form.error_summary}}
{% endfor %}

    <form method="post" novalidate>
        <input type="hidden" value="{{ application_id }}" name="id"/>
        <input type="hidden" value="{{ person_id }}" name="person_id"/>
        <input type="hidden" value="{{ person_type }}" name="type"/>
        <input type="hidden" value="{{ extra }}" name="extra"/>

        {{ formset.management_form }}
            <h1 class="form-title heading-large">Previous names</h1>

            {% csrf_token %}
            {% for form in formset %}

            <h2 class="form-title heading-medium">
                Name {{ forloop.counter }}
            </h2>

            {{ form }}
            {% if formset|length > 1 %}
                <input type="hidden" name="action" value="delete">
                <input type="submit" class="hidden-link-2" name="{{ form.previous_name_id.value }}" value="Remove this name"/>
            {% endif %}

        {% endfor %}

        <input type="submit" name="action" class="button button-secondary button-add-another" value="Add another name">
        <input type="hidden" name="referrer" value="{{ referrer }}">
        <input type="submit" name="action" class="button" value="Confirm and continue"/>

        {% include 'childminder_templates/return-to-list.html' %}
    </form>

{% endblock %}