{% extends 'govuk_template.html' %}
{% block page_title %}Personal details - Individual Compare{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% load alt_text_extras %}

{% block inner_content %}
{% include 'back-button.html' %}


<div class="individual-lookup-wrapper">
    <div class="individual-lookup-applicants-details">
        <div class="individual-warning-box">
            <h2 class="font-large">Applicant's details</h2>
        </div>
        <table>
            <tr>
                <td>First name</td>
                <td>{{ first_name }}{% if middle_names %} {{ middle_names }}{% endif %}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <td id="date-form-label-row"></td>
                <td id="date-form-label-row"></td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{ date_of_birth }}</td>
            </tr>
            <tr>
                <td>Street</td>
                <td>{{ street_line1 }}{% if street_line2 %} {{ street_line2 }}{% endif %}</td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td>{{ postcode }}</td>
            </tr>
            <tr>
                <td>Town</td>
                <td>{{ town }}</td>
            </tr>
        </table>
        <form method="post">
            {% csrf_token %}
            <input id="not-known" name="not-known" type="hidden" value="true">
            <input id="individual-lookup-applicants-button" type="submit" class="button button-secondary" value="Not known to Ofsted">
        </form>
    </div>
    <div class="individual-lookup-search">
        <div class="individual-warning-box">
            <h2 class="font-large">Search</h2>
            <a href="{% url 'personal_details_individual_lookup' %}?id={{application_id}}&referrer={{referrer_type}}" class="font-medium" id="back_to_search_button">&lt Back to search</a> 
        </div>
        <div class="invidual-lookup-search-wrapper">
            <form method="post">
                {% csrf_token %}
                <table>
                {% for individual in individuals_list %}
                    {% if individual.IndividualID == compare %}
                        <tr>
                            <td>Forenames</td>
                            <td>{{ individual.Forenames }}</td>
                        </tr>
                        <tr>
                            <td>Last name</td>
                            <td>{{ individual.Surname }}</td>
                        </tr>
                        <tr>
                            <td id="date-form-label-row"></td>
                            <td id="date-form-label-row">
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{ individual.DOB }}</td>
                        </tr>
                        <tr>
                            <td>Street</td>
                            <td>{{ individual.IndividualAddress }}</td>  
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>{{ individual.IndividualPostCode }}</td>
                        </tr>
                        <tr>
                            <td>Cygnum id</td>
                            <td>{{ individual.IndividualID }}</td>
                            <input id="individual-id" name="individual-id" type="hidden" value="{{ individual.IndividualID }}">
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
                <input type="submit" class="button button-primary" value="Confirm">
            </form>
        </div> 
    </div>
</div>
<div class="individual-table-wrapper">
{% if individuals %}
    <table>
        <thead>
            <tr>
                <th>Forenames</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Street</th>
                <th>Postcode</th>
                <th>Cygnum id</th>
                <th>Compare</th>
            </tr>
        </thead>
        <tbody>
            {% for individual in individuals %}
            <tr>
                <td>{{ individual.Forenames }}</td>
                <td>{{ individual.Surname }}</td>
                <td>{{ individual.DOB }}</td>
                <td>{{ individual.IndividualAddress }}</td>
                <td>{{ individual.IndividualPostCode }}</td>
                <td>{{ individual.IndividualID }}</td>
                <td>
                    
                        <a href="{% url 'personal_details_individual_lookup_search_choice' %}?id={{ application_id }}&page={{page}}&compare={{ individual.IndividualID }}&referrer={{referrer_type}}" class="multiple-choice">
                            {% if individual.IndividualID == compare %}
                                <input type="radio" name="individual-choice" checked>
                            {% else %}
                                <input type="radio" name="individual-choice">
                            {% endif %}
                            <label ::before>
                        </a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="individual-table-wrapper-pages">
            {% if individuals.has_previous %}
            <a href="?id={{application_id}}&page={{individuals.previous_page_number}}&compare={{compare}}&referrer={{referrer_type}}">Previous page</a>
            {% endif %}
            <span>{{ individuals }}</span>
            {% if individuals.has_next %}
            <a href="?id={{application_id}}&page={{individuals.next_page_number}}&compare={{compare}}&referrer={{referrer_type}}">Next page</a>
            {% endif %}
        </div>
{% else %}
    <div class="individual-not-found-warning">
        <span class="font-medium"> No results found. </span><br>
        <span class="font-medium"> Either amend the details you have entered to search again, or select ‘Not known to Ofsted’ to start a new person record</span>
    </div>
{% endif %}

</div>
{% endblock %}
