{% extends 'govuk_template.html' %}
{% block page_title %}Previous home address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Previous {% if person_type == 'APPLICANT' %}home {% endif %}address
        </h1>

        {{form.as_div}}
    </div>

    {% csrf_token %}
    <input type="hidden" id="id" name="id" value="{{id}}"/>
    <input type="hidden" name="state" value="update"/>
    <input type="hidden" name="person_id" value="{{ person_id }}"/>
    <input type="hidden" name="person_type" value="{{ person_type }}"/>
    <input type="hidden" name="address_id" value="{{ address_id }}">

    <input type="submit" class="button" value="Save and continue">
</form>

<br>

<form action="{% url 'personal_details_previous_addresses' %}">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="person_id" value="{{ person_id }}"/>
    <input type="hidden" name="state" value="{{state}}"/>
    <input type="hidden" name="person_type" value="APPLICANT"/>
    <input type="hidden" name="remove" value="1"/>

    <input class="hidden-link-2"
           type="submit"
           value="Remove this address"
           name="remove-{{address_id}}"
           id="remove-{{address_id}}"/>
</form>
<br>

{% include 'childminder_templates/return-to-list.html' %}

{% endblock %}