{% extends 'govuk_template.html' %}
{% load static %}
{% load govuk_template_base %}
{% block page_title %}Applications summary{% endblock %}
{% block inner_content %}

<div class="top-padded">

<h2 class="heading-large">Applications summary</h2>

<table>
        <thead>
        <tr>
            <th>Type</th>
            <th class="col-center">Childminder applications</th>
            <th class="col-center">Nanny applications</th>
            {% if enable_hm %}
            <th class="col-center">New association</th>
            {% endif %}
        </tr>
        </thead>
        {% for row in rows %}
        <tr>
            {% if row.id == "draft" or row.id == "total_submitted"%}
                <td class="col-xs-1">{{row.name}}</td>
            {% else %}
                <td class="col-xs-1 col-indent">{{row.name}}</td>
            {% endif %}
            <td class="col-xs-1 col-center">{{row.childminder}}</td>
            <td class="col-xs-1 col-center">{{row.nanny}}</td>
            {% if enable_hm %}
            <td class="col-xs-1 col-center">{{row.hm}}</td>
            {% endif %}
        </tr>
        {% endfor %}
</table>

    <p>
        <img src="{% static 'download-button.png' %}" class="icon-ofsted-download icon-align" alt="Download"/>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/381218/Health_20declaration_20booklet.pdf"
           target="_blank" alt="Download 'Health Declaration Booklet'">Applications In Queue</a>
        (PDF, 174KB, 16 pages)
    </p>
    <p>
        <img src="{% static 'download-button.png' %}" class="icon-ofsted-download icon-align" alt="Download"/>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/381218/Health_20declaration_20booklet.pdf"
           target="_blank" alt="Download 'Health Declaration Booklet'">Applications returned</a>
        (PDF, 174KB, 16 pages)
    </p>
    <p>
        <img src="{% static 'download-button.png' %}" class="icon-ofsted-download icon-align" alt="Download"/>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/381218/Health_20declaration_20booklet.pdf"
           target="_blank" alt="Download 'Health Declaration Booklet'">Applications processed</a>
        (PDF, 174KB, 16 pages)
    </p>
    <p>
        <img src="{% static 'download-button.png' %}" class="icon-ofsted-download icon-align" alt="Download"/>
        <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/381218/Health_20declaration_20booklet.pdf"
           target="_blank" alt="Download 'Health Declaration Booklet'">Applications assigned to</a>
        (PDF, 174KB, 16 pages)
    </p>
</div>

{% endblock %}