{% extends 'govuk_template.html' %}
{% block page_title %}Audit Log{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<main>
{% include 'back-button.html' %}
    <h1 class="form-title heading-large">
        Audit Log
    </h1>

    <table>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">User type</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
        {% for log in object_list %}
            {{ log.get_message }}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <!-- Return to task list -->
    <a href="{{ back }}" class="link-back">Return to list</a>
</main>
{% endblock %}