{% extends 'govuk_template.html' %}
{% block page_title %}Additional comments{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<h1 class="form-title heading-large">
    Additional comments
</h1>
<form method="post">
    <p>Would you like to add any additional comments to send to the applicant?</p>
    {{form.as_div}}
    {% csrf_token %}
    <input type="hidden" id="id" value="{{application_id}}" name="id"/>
    <input type="submit" class="button" value="Save and continue">
</form>
<br>
<a href="{% url 'task_list' %}?id={{application_id}}">Return to applications</a>
{% endblock %}