{% extends 'govuk_template.html' %}
{% block page_title %}Additional Comments{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <div class="grid-row">
        <a href="{{ URL_PREFIX }}/review?id={{application_id}}" class="link-back"
           style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
            Back
        </a>
        <h1 class="form-title heading-large">
            Additional Comments
        </h1>
        <p></p>
    </div>
</div>

{% endblock %}