{% extends 'govuk_template.html' %}
{% block page_title %}First aid training{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
    <form method="post" novalidate>
    <div class="form-group grid-row" style="padding-top: 30px;">
        <!-- Back button -->
        <a class="link-back">
            <button type="submit" name="back" class="hidden-button" value="/personal-details/summary/">Back</button>
        </a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">Check your answers: first aid training</h1>
    </div>

            {% csrf_token %}
    <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    First aid training
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Training organisation
            </td>
            <td style="word-wrap: break-word">
                {{training_organisation}}
            </td>
            <td class="change-answer">
                {{ form.first_aid_training_organisation_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="first_aid_training_organisation" >
            <td colspan="1"style="width:100%">
                <div >
                    {{ form.first_aid_training_organisation_comments.label}}
                </div>
            </td>
            <td colspan="2"style="width:100%">
                <div >
                    {{ form.first_aid_training_organisation_comments}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Title of first aid course
            </td>
            <td style="word-wrap: break-word">
                {{training_course}}
            </td>
            <td class="change-answer">
                {{ form.title_of_training_course_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="title_of_training_course" >
            <td colspan="1"style="width:100%">
                <div >
                    {{ form.title_of_training_course_comments.label}}
                </div>
            </td>
            <td colspan="2"style="width:100%">
                <div >
                    {{ form.title_of_training_course_comments}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Date of certificate
            </td>
            {% if certificate_month == 1 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} January {{certificate_year}}
            </td>
            {% elif certificate_month == 2 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} February {{certificate_year}}
            </td>
            {% elif certificate_month == 3 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} March {{certificate_year}}
            </td>
            {% elif certificate_month == 4 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} April {{certificate_year}}
            </td>
            {% elif certificate_month == 5 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} May {{certificate_year}}
            </td>
            {% elif certificate_month == 6 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} June {{certificate_year}}
            </td>
            {% elif certificate_month == 7 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} July {{certificate_year}}
            </td>
            {% elif certificate_month == 8 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} August {{certificate_year}}
            </td>
            {% elif certificate_month == 9 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} September {{certificate_year}}
            </td>
            {% elif certificate_month == 10 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} October {{certificate_year}}
            </td>
            {% elif certificate_month == 11 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} November {{certificate_year}}
            </td>
            {% elif certificate_month == 12 %}
            <td style="word-wrap: break-word">
                {{certificate_day}} December {{certificate_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.course_date_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="course_date" >
            <td colspan="1"style="width:100%">
                <div >
                    {{ form.course_date_comments.label}}
                </div>
            </td>
            <td colspan="2"style="width:100%">
                <div >
                    {{ form.course_date_comments}}
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <br>
    <div class="form-group grid-row">

            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>

    </div>
    <br>
        <div class="form-group grid-row" style="padding-top: 30px;">
        <a class="link-back">
            <button type="submit" name="return_to_list" class="hidden-button" value="/review/">Return to List</button>
        </a>
        </div>

    </form>
</div>

{% endblock %}