{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include 'back-button.html' %}

{{form.error_summary}}
{% for form in formset_adult %}
    {{form.error_summary}}
{% endfor %}
{% for form in formset_child %}
    {{form.error_summary}}
{% endfor %}

    <form method="post" novalidate>
        <h1 class="form-title heading-large">Review: people in your home</h1>
        <p>
            Please check the boxes if there are  errors.
        </p>
        {% csrf_token %}
        {{ formset_adult.management_form }}
        {{ formset_child.management_form }}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        Adults in your home
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Do you live with anyone who is 16 or over?
                </td>
                {% if adults_in_home is True %}
                <td style="word-wrap: break-word">
                    Yes
                </td>
                {% elif adults_in_home is False %}
                <td style="word-wrap: break-word">
                    No
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ form.adults_in_home_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="adults_in_home">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ form.adults_in_home_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ form.adults_in_home_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        Children in your home
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Do you live with any children?
                </td>
                {% if children_in_home is True %}
                <td style="word-wrap: break-word">
                    Yes
                </td>
                {% elif children_in_home is False %}
                <td style="word-wrap: break-word">
                    No
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ form.children_in_home_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="children_in_home">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ form.children_in_home_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ form.children_in_home_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        {% for record, id , health_check_status, name, day, month, year, relationship, dbs_certificate_number, formsetadult, current_illness_set, serious_illness_set, hospital_admission_set in adult_lists %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    Health check status
                </td>
                <td style="word-wrap: break-word">
                    {{health_check_status}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.health_check_status_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="health_check_status{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.health_check_status_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.health_check_status_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{name}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.full_name_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.full_name_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                {% if month == 1 %}
                <td style="word-wrap: break-word">
                    {{day}} January {{year}}
                </td>
                {% elif month == 2 %}
                <td style="word-wrap: break-word">
                    {{day}} February {{year}}
                </td>
                {% elif month == 3 %}
                <td style="word-wrap: break-word">
                    {{day}} March {{year}}
                </td>
                {% elif month == 4 %}
                <td style="word-wrap: break-word">
                    {{day}} April {{year}}
                </td>
                {% elif month == 5 %}
                <td style="word-wrap: break-word">
                    {{day}} May {{year}}
                </td>
                {% elif month == 6 %}
                <td style="word-wrap: break-word">
                    {{day}} June {{year}}
                </td>
                {% elif month == 7 %}
                <td style="word-wrap: break-word">
                    {{day}} July {{year}}
                </td>
                {% elif month == 8 %}
                <td style="word-wrap: break-word">
                    {{day}} August {{year}}
                </td>
                {% elif month == 9 %}
                <td style="word-wrap: break-word">
                    {{day}} September {{year}}
                </td>
                {% elif month == 10 %}
                <td style="word-wrap: break-word">
                    {{day}} October {{year}}
                </td>
                {% elif month == 11 %}
                <td style="word-wrap: break-word">
                    {{day}} November {{year}}
                </td>
                {% elif month == 12 %}
                <td style="word-wrap: break-word">
                    {{day}} December {{year}}
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetadult.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.date_of_birth_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Relationship
                </td>
                <td style="word-wrap: break-word">
                    {{relationship}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.relationship_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="relationship{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.relationship_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.relationship_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    DBS certificate number
                </td>
                <td style="word-wrap: break-word">
                    {{dbs_certificate_number}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.dbs_certificate_number_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="dbs_certificate_number{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
            <input type="hidden" value="{{ application_id }}" name="id" />

        </table>
        <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=ADULT" class="button button-secondary">Add previous names</a>
        <br>
        <a href="{% url 'other-people-previous-addresses' %}?id={{ application_id }}&state=entry&person_id={{id}}&person_type=ADULT" class="button button-secondary">Add previous addresses</a>



         <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Current treatment
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class=summary-column> Are you currently being treated by your GP, another doctor or a hospital?</td>
                    <td class=summary-column> {{ record.current_treatment|yesno:"Yes,No" }} </td>
                </tr>
                {% if record.current_treatment %}
                {% for treatment in current_treatment_set %}
                <tr>
                    <td class=summary-column>Details of the illness or condition</td>
                    <td class=summary-column>{{ treatment.description }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Serious illnesses
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class=summary-column>Have you had any serious illnesses within the last five years?</td>
                    <td class=summary-column>{{ record.serious_illness|yesno:"Yes,No" }}</td>
                </tr>
                {% if record.serious_illness %}
                {% for illness in serious_illness_set %}
                <tr>
                    <td class=summary-column>{{ illness.description }}</td>
                    <td class=summary-column>{{ illness.start_date|date:"d/m/Y" }} to {{ illness.end_date|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <table class="check-your-answers">
            <colgroup>
                <col class="summary-column">
                <col class="summary-column">
                <col class="change-answer">
            </colgroup>
            <thead>
                <th colspan="3">
                        <h2 class="heading-medium">
                            Hospital admissions
                        </h2>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td>Have you been admitted to hospital in the last 2 years?</td>
                    <td>{{ record.hospital_admission|yesno:"Yes,No" }}</td>
                </tr>
                {% if record.hospital_admission %}
                {% for illness in hospital_admission_set %}
                <tr>
                    <td>{{ illness.description }}</td>
                    <td>{{ illness.start_date|date:"d/m/Y" }} to {{ illness.end_date|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <a href="{% url 'other-people-previous-registration' %}?id={{ application_id }}&person_id={{ id }}" class="button button-secondary">Add previous registration details</a>

        {% endfor %}
        {% for id, name, day, month, year, relationship, formsetchild in child_lists %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{name}}
                </td>
                <td class="change-answer">
                    {{ formsetchild.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetchild.full_name_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetchild.full_name_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                {% if month == 1 %}
                <td style="word-wrap: break-word">
                    {{day}} January {{year}}
                </td>
                {% elif month == 2 %}
                <td style="word-wrap: break-word">
                    {{day}} February {{year}}
                </td>
                {% elif month == 3 %}
                <td style="word-wrap: break-word">
                    {{day}} March {{year}}
                </td>
                {% elif month == 4 %}
                <td style="word-wrap: break-word">
                    {{day}} April {{year}}
                </td>
                {% elif month == 5 %}
                <td style="word-wrap: break-word">
                    {{day}} May {{year}}
                </td>
                {% elif month == 6 %}
                <td style="word-wrap: break-word">
                    {{day}} June {{year}}
                </td>
                {% elif month == 7 %}
                <td style="word-wrap: break-word">
                    {{day}} July {{year}}
                </td>
                {% elif month == 8 %}
                <td style="word-wrap: break-word">
                    {{day}} August {{year}}
                </td>
                {% elif month == 9 %}
                <td style="word-wrap: break-word">
                    {{day}} September {{year}}
                </td>
                {% elif month == 10 %}
                <td style="word-wrap: break-word">
                    {{day}} October {{year}}
                </td>
                {% elif month == 11 %}
                <td style="word-wrap: break-word">
                    {{day}} November {{year}}
                </td>
                {% elif month == 12 %}
                <td style="word-wrap: break-word">
                    {{day}} December {{year}}
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetchild.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetchild.date_of_birth_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetchild.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Relationship
                </td>
                <td style="word-wrap: break-word">
                    {{relationship}}
                </td>
                <td class="change-answer">
                    {{ formsetchild.relationship_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="relationship{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ formsetchild.relationship_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ formsetchild.relationship_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        {% endfor %}
        {% for id, name, previous_names, previous_addresses in adult_ebulk_lists %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}'s eBulk details
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for name in previous_names %}
            <tr>
                <td>
                    Previous name ({{ forloop.counter }})
                </td>
                <td>
                    {{ name.first_name }} {{name.middle_names}} {{name.last_name}}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=ADULT&referrer=list">Change</a>
                </td>
            </tr>
            {% endfor %}
            {% for address in previous_addresses%}
            <tr>
                <td>
                    Previous address ({{ forloop.counter }})
                </td>
                <td>
                    {{address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                    {{address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                    {{address.town}}{% if address.town %}<br />{% endif %}
                    {{address.county}}{% if address.county %}<br />{% endif %}
                    {{address.country}}{% if address.country %}<br />{% endif %}
                    {{address.postcode}}{% if address.postcode %}<br />{% endif %}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-addresses' %}?id={{ application_id }}&state=update&person_id={{id}}&person_type=ADULT&address_id={{address.previous_name_id}}">Change</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}


        {% for id, name, previous_registrations in previous_registration_lists %}
        {% for previous_registration in previous_registrations %}
                <table class="check-your-answers form-group">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <div class="heading-medium">
                                {{name}} previous registration
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Has the applicant previously registered with Ofsted?</td>
                        <td>{{ previous_registration.previous_registration|yesno:"Yes,No" }}</td>
                        <td><a href="{% url 'other-people-previous-registration' %}?id={{ application_id }}&person_id={{id}}">Change</a></td>
                    </tr>
                    {% if previous_registration.previous_registration %}
                    <tr>
                        <td>Individual ID</td>
                        <td>{{ previous_registration.individual_id }}</td>
                        <td><a href="{% url 'other-people-previous-registration' %}?id={{ application_id }}&person_id={{id}}">Change</a></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Has the applicant lived in England for more than 5 years</td>
                        <td>{{ previous_registration.five_years_in_UK|yesno:"Yes,No" }}</td>
                        <td><a href="{% url 'other-people-previous-registration' %}?id={{ application_id }}&person_id={{id}}">Change</a></td>
                    </tr>
                    </tbody>
                </table>
                    {% endfor %}
        {% endfor %}

        <input type="submit" class="button" value="Confirm and continue"/>
        <input type="hidden" value="{{application_id}}" name="id"/>
        {% include 'return-to-list.html' %}
    </form>

{% endblock %}