{% extends 'govuk_template.html' %}
{% block page_title %}People in your home{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include 'back-button.html' %}
<div class="column-full">
    <form method="post" novalidate>
        <div class="grid-row">
            <h1 class="form-title heading-large">Check your answers: people in your home</h1>
        </div>

        {% csrf_token %}
        {{ formset_adult.management_form }}
        {{ formset_child.management_form }}
        <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        Adults in your home
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Do you live with anyone who is 16 or over?
                </td>
                {% if adults_in_home is True %}
                <td style="word-wrap: break-word">
                    Yes
                </td>
                {% elif adults_in_home is False %}
                <td style="word-wrap: break-word">
                    No
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ form.adults_in_home_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="adults_in_home">
                <td colspan="1" style="width:100%">
                    <div>
                        {{ form.adults_in_home_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ form.adults_in_home_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="check-your-answers form-group grid-row" style="table-layout: fixed; width: 100%">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        Children in your home
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Do you live with any children?
                </td>
                {% if children_in_home is True %}
                <td style="word-wrap: break-word">
                    Yes
                </td>
                {% elif children_in_home is False %}
                <td style="word-wrap: break-word">
                    No
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ form.children_in_home_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="children_in_home">
                <td colspan="1">
                    <div>
                        {{ form.children_in_home_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ form.children_in_home_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        {% for id ,name, day, month, year, relationship, dbs_certificate_number, permission, formsetadult in adult_lists %}

        <table class="check-your-answers form-group grid-row">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{name}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetadult.full_name_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetadult.full_name_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                {% if month == 1 %}
                <td style="word-wrap: break-word">
                    {{day}} January {{year}}
                </td>
                {% elif month == 2 %}
                <td style="word-wrap: break-word">
                    {{day}} February {{year}}
                </td>
                {% elif month == 3 %}
                <td style="word-wrap: break-word">
                    {{day}} March {{year}}
                </td>
                {% elif month == 4 %}
                <td style="word-wrap: break-word">
                    {{day}} April {{year}}
                </td>
                {% elif month == 5 %}
                <td style="word-wrap: break-word">
                    {{day}} May {{year}}
                </td>
                {% elif month == 6 %}
                <td style="word-wrap: break-word">
                    {{day}} June {{year}}
                </td>
                {% elif month == 7 %}
                <td style="word-wrap: break-word">
                    {{day}} July {{year}}
                </td>
                {% elif month == 8 %}
                <td style="word-wrap: break-word">
                    {{day}} August {{year}}
                </td>
                {% elif month == 9 %}
                <td style="word-wrap: break-word">
                    {{day}} September {{year}}
                </td>
                {% elif month == 10 %}
                <td style="word-wrap: break-word">
                    {{day}} October {{year}}
                </td>
                {% elif month == 11 %}
                <td style="word-wrap: break-word">
                    {{day}} November {{year}}
                </td>
                {% elif month == 12 %}
                <td style="word-wrap: break-word">
                    {{day}} December {{year}}
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetadult.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetadult.date_of_birth_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetadult.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Relationship
                </td>
                <td style="word-wrap: break-word">
                    {{relationship}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.relationship_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="relationship{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetadult.relationship_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetadult.relationship_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    DBS certificate number
                </td>
                <td style="word-wrap: break-word">
                    {{dbs_certificate_number}}
                </td>
                <td class="change-answer">
                    {{ formsetadult.dbs_certificate_number_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="dbs_certificate_number{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetadult.dbs_certificate_number_comments}}
                    </div>
                </td>
            </tr>
            <tr>
            <tr>
                <td style="word-wrap: break-word">
                    Permission for checks
                </td>
                {% if permission is True %}
                <td style="word-wrap: break-word">
                    Yes
                </td>
                {% elif permission is False %}
                <td style="word-wrap: break-word">
                    No
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetadult.permission_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="permission{{formsetadult.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetadult.permission_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetadult.permission_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
            <input type="hidden" value="{{ application_id }}" name="id" />

        </table>
        <br />
        <br>
        <div class="grid-row">
        <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=ADULT" class="button">Add previous names and addresses</a>
        </div>




        {% endfor %}
        {% for id, name, day, month, year, relationship, formsetchild in child_lists %}
        <table class="check-your-answers form-group grid-row">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{name}}
                </td>
                <td class="change-answer">
                    {{ formsetchild.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetchild.full_name_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetchild.full_name_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                {% if month == 1 %}
                <td style="word-wrap: break-word">
                    {{day}} January {{year}}
                </td>
                {% elif month == 2 %}
                <td style="word-wrap: break-word">
                    {{day}} February {{year}}
                </td>
                {% elif month == 3 %}
                <td style="word-wrap: break-word">
                    {{day}} March {{year}}
                </td>
                {% elif month == 4 %}
                <td style="word-wrap: break-word">
                    {{day}} April {{year}}
                </td>
                {% elif month == 5 %}
                <td style="word-wrap: break-word">
                    {{day}} May {{year}}
                </td>
                {% elif month == 6 %}
                <td style="word-wrap: break-word">
                    {{day}} June {{year}}
                </td>
                {% elif month == 7 %}
                <td style="word-wrap: break-word">
                    {{day}} July {{year}}
                </td>
                {% elif month == 8 %}
                <td style="word-wrap: break-word">
                    {{day}} August {{year}}
                </td>
                {% elif month == 9 %}
                <td style="word-wrap: break-word">
                    {{day}} September {{year}}
                </td>
                {% elif month == 10 %}
                <td style="word-wrap: break-word">
                    {{day}} October {{year}}
                </td>
                {% elif month == 11 %}
                <td style="word-wrap: break-word">
                    {{day}} November {{year}}
                </td>
                {% elif month == 12 %}
                <td style="word-wrap: break-word">
                    {{day}} December {{year}}
                </td>
                {% endif %}
                <td class="change-answer">
                    {{ formsetchild.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetchild.date_of_birth_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetchild.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Relationship
                </td>
                <td style="word-wrap: break-word">
                    {{relationship}}
                </td>
                <td class="change-answer">
                    {{ formsetchild.relationship_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="relationship{{formsetchild.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        {{ formsetchild.relationship_comments.label}}
                    </div>
                </td>
                <td colspan="2" style="width:100%">
                    <div>
                        {{ formsetchild.relationship_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>






        <div class="grid-row">
        <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=CHILD" class="button">Add previous names and addresses</a>
        </div>
        {% endfor %}

        {% for id, name, previous_names, previous_addresses in adult_ebulk_lists %}
        <table class="check-your-answers form-group grid-row">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}'s eBulk details
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for name in previous_names %}
            <tr>
                <td>
                    Previous name ({{ forloop.counter }})
                </td>
                <td>
                    {{ name.first_name }} {{name.middle_names}} {{name.last_name}}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=ADULT&referrer=list">Change</a>
                </td>
            </tr>
            {% endfor %}
            {% for address in previous_addresses%}
            <tr>
                <td>
                    Previous addresss ({{ forloop.counter }})
                </td>
                <td>
                    {{address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                    {{address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                    {{address.town}}{% if address.town %}<br />{% endif %}
                    {{address.county}}{% if address.county %}<br />{% endif %}
                    {{address.country}}{% if address.country %}<br />{% endif %}
                    {{address.postcode}}{% if address.postcode %}<br />{% endif %}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-addresses' %}?id={{ application_id }}&state=update&person_id={{id}}&person_type=ADULT&address_id={{address.previous_name_id}}">Change</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}

        {% for id, name, previous_names, previous_addresses in child_ebulk_lists %}
        <table class="check-your-answers form-group grid-row">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{name}}'s eBulk details
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for name in previous_names %}
            <tr>
                <td>
                    Previous name ({{ forloop.counter }})
                </td>
                <td>
                    {{ name.first_name }} {{name.middle_names}} {{name.last_name}}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-names' %}?id={{ application_id }}&person_id={{ id }}&type=CHILD&referrer=list">Change</a>
                </td>
            </tr>
            {% endfor %}
            {% for address in previous_addresses%}
            <tr>
                <td>
                    Previous addresss ({{ forloop.counter }})
                </td>
                <td>
                    {{address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                    {{address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                    {{address.town}}{% if address.town %}<br />{% endif %}
                    {{address.county}}{% if address.county %}<br />{% endif %}
                    {{address.country}}{% if address.country %}<br />{% endif %}
                    {{address.postcode}}{% if address.postcode %}<br />{% endif %}
                </td>
                <td class="change-answer">
                    <a href="{% url 'other-people-previous-addresses' %}?id={{ application_id }}&state=update&person_id={{id}}&person_type=CHILD&address_id={{address.previous_name_id}}">Change</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endfor %}

        <br>
        <div class="form-group grid-row">
            <input type="submit" class="button" value="Confirm and continue"/>
            <input type="hidden" value="{{application_id}}" name="id"/>

        </div>


        <br>
        <div class="form-group grid-row" style="padding-top: 30px;">
            <a class="link-back">
                <button type="submit" name="return_to_list" class="hidden-button" value="/review/">Return to List
                </button>
            </a>
        </div>

    </form>

</div>

{% endblock %}