{% extends 'govuk_template.html' %}
{% block page_title %}Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% load alt_text_extras %}

{% block inner_content %}
{% include 'back-button.html' %}

{{form.error_summary}}

<form method="post" novalidate>

    <h1 class="form-title heading-large">Review: your personal details</h1>
    <p>
        Please check the boxes if there are errors.
    </p>

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Name and date of birth
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Your name
            </td>
            {% if middle_names %}
            <td style="word-wrap: break-word">
                {{first_name}} {{middle_names}} {{last_name}}
            </td>
            {% elif not middle_names %}
            <td style="word-wrap: break-word">
                {{first_name}} {{last_name}}
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.name_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="name">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.name_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.name_comments}}
                </div>
            </td>
        </tr>

        <tr>
            <td>
                Your date of birth
            </td>
            {% if birth_month == 1 %}
            <td style="word-wrap: break-word">
                {{birth_day}} January {{birth_year}}
            </td>
            {% elif birth_month == 2 %}
            <td style="word-wrap: break-word">
                {{birth_day}} February {{birth_year}}
            </td>
            {% elif birth_month == 3 %}
            <td style="word-wrap: break-word">
                {{birth_day}} March {{birth_year}}
            </td>
            {% elif birth_month == 4 %}
            <td style="word-wrap: break-word">
                {{birth_day}} April {{birth_year}}
            </td>
            {% elif birth_month == 5 %}
            <td style="word-wrap: break-word">
                {{birth_day}} May {{birth_year}}
            </td>
            {% elif birth_month == 6 %}
            <td style="word-wrap: break-word">
                {{birth_day}} June {{birth_year}}
            </td>
            {% elif birth_month == 7 %}
            <td style="word-wrap: break-word">
                {{birth_day}} July {{birth_year}}
            </td>
            {% elif birth_month == 8 %}
            <td style="word-wrap: break-word">
                {{birth_day}} August {{birth_year}}
            </td>
            {% elif birth_month == 9 %}
            <td>
                {{birth_day}} September {{birth_year}}
            </td>
            {% elif birth_month == 10 %}
            <td>
                {{birth_day}} October {{birth_year}}
            </td>
            {% elif birth_month == 11 %}
            <td style="word-wrap: break-word">
                {{birth_day}} November {{birth_year}}
            </td>
            {% elif birth_month == 12 %}
            <td style="word-wrap: break-word">
                {{birth_day}} December {{birth_year}}
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.date_of_birth_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="date_of_birth">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.date_of_birth_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.date_of_birth_comments}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{% url 'personal_details_previous_names' %}?id={{ application_id }}&person_id={{ application_id }}&type=APPLICANT" class="button button-secondary">Add previous names</a>


    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your home and childcare address
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Your home address
            </td>
            {% if street_line2 and county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{street_line2}}
                </br>
                {{town}}
                </br>
                {{county}}
                </br>
                {{postcode}}
            </td>
            {% elif street_line2 and not county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{street_line2}}
                </br>
                {{town}}
                </br>
                {{postcode}}
            </td>
            {% elif not street_line2 and county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{town}}
                </br>
                {{county}}
                </br>
                {{postcode}}
            </td>
            {% elif not street_line2 and not county %}
            <td style="word-wrap: break-word">
                {{street_line1}}
                </br>
                {{town}}
                </br>
                {{postcode}}
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.home_address_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="home_address">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.home_address_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.home_address_comments}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Childcare location
            </td>
            {% if location_of_childcare == True %}
            <td style="word-wrap: break-word">
                Same as home address
            </td>
            {% elif location_of_childcare == False %}
                {% if childcare_street_line2 and childcare_county %}
                <td style="word-wrap: break-word">
                    {{childcare_street_line1}}
                    </br>
                    {{childcare_street_line2}}
                    </br>
                    {{childcare_town}}
                    </br>
                    {{childcare_county}}
                    </br>
                    {{childcare_postcode}}
                </td>
                {% elif childcare_street_line2 and not childcare_county %}
                <td style="word-wrap: break-word">
                    {{childcare_street_line1}}
                    </br>
                    {{childcare_street_line2}}
                    </br>
                    {{childcare_town}}
                    </br>
                    {{childcare_postcode}}
                </td>
                {% elif not childcare_street_line2 and childcare_county %}
                <td style="word-wrap: break-word">
                    {{childcare_street_line1}}
                    </br>
                    {{childcare_town}}
                    </br>
                    {{childcare_county}}
                    </br>
                    {{childcare_postcode}}
                </td>
                {% elif not childcare_street_line2 and not childcare_county %}
                <td style="word-wrap: break-word">
                    {{childcare_street_line1}}
                    </br>
                    {{childcare_town}}
                    </br>
                    {{childcare_postcode}}
                </td>
                {% endif %}
            {% endif %}
            <td class="change-answer">
                {{ form.childcare_location_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="childcare_location">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.childcare_location_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.childcare_location_comments}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Is this another childminder's home?
            </td>
            {% if working_in_other_childminder_home %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% else %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.working_in_other_childminder_home_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="working_in_other_childminder_home">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.working_in_other_childminder_home_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.working_in_other_childminder_home_comments}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{% url 'personal_details_previous_addresses' %}?id={{ application_id }}&state=entry&person_id={{ application_id }}&person_type=APPLICANT" class = "button button-secondary">Add previous addresses</a>

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your children
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Do you have children of your own under 16?
            </td>
            {% if own_children %}
            <td style="word-wrap: break-word">
                Yes
            </td>
            {% else %}
            <td style="word-wrap: break-word">
                No
            </td>
            {% endif %}
            <td class="change-answer">
                {{ form.own_children_declare }}
            </td>
        </tr>
        <tr class="js-hidden" id="own_children">
            <td colspan="1">
                <div>
                    Enter your reasoning
                </div>
                <div>
                    {{ form.own_children_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.own_children_comments}}
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <br>

    {% if previous_names %}
    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Previous names
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for name in previous_names %}
            <tr>
                <td>
                    Your previous name {{ forloop.counter }}
                </td>
                <td>
                    {{ name.first_name }}  {{ name.middle_names }} {{ name.last_name }}
                </td>
                <td class="change-answer">
                    <a href="{% url 'personal_details_previous_names' %}?id={{ application_id }}&person_id={{ application_id }}&type=APPLICANT&referrer=list" alt="Change the {{ forloop.counter|inflect }} previous name">Change</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if previous_addresses %}
    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Previous home addresses
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for address in previous_addresses %}
        <tr>
            <td>
                Your previous home address {{ forloop.counter }}
            </td>
            <td>
                {{address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                {{address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                {{address.town}}{% if address.town %}<br />{% endif %}
                {{address.county}}{% if address.county %}<br />{% endif %}
                {{address.country}}{% if address.country %}<br />{% endif %}
                {{address.postcode}}{% if address.postcode %}<br />{% endif %}
            </td>
            <td class="change-answer">
                <a href="{% url 'personal_details_previous_addresses' %}?id={{ application_id }}&state=update&person_id={{ application_id }}&person_type=APPLICANT&address_id={{address.pk}}" alt="Change the {{ forloop.counter|inflect }} previous address">Change</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}






    {% block has_previously_applied %}
        {% if has_previously_applied %}
            <table class="check-your-answers form-group">
                <tr>
                    <th colspan="3">
                        <div class="heading-medium">
                            Previous Registration
                        </div>
                    </th>
                </tr>
                <tbody>
                <tr>
                    <td>
                        Has the applicant previously registered with Ofsted?
                    </td>
                    <td>
                        {% if previous_registration %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'previous_registration_details' %}/?id={{application_id}}">Change</a>
                    </td>
                </tr>
                {% if individual_id != 'None' %}
                <tr>
                    <td>
                        Individual ID
                    </td>
                    <td>
                        {% if individual_id %}
                            {{ individual_id }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'previous_registration_details' %}/?id={{application_id}}">Change</a>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        Has the applicant lived in England for more than 5 years?
                    </td>
                    <td>
                        {% if five_years_in_UK %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'previous_registration_details' %}/?id={{application_id}}">Change</a>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {% endblock %}
    {% csrf_token %}

    <button type="submit" name="previous_registration_details" class="button button-secondary button-add-another" value="/personal-details/previous-registration/">
        Add previous registration
    </button>
    <br>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>



    {% include 'return-to-list.html' %}

</form>

{% endblock %}