{% extends 'govuk_template.html' %}
{% block page_title %}Your home address{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

{% include "back-button.html" %}

<!-- Initialise error summary for page -->
{{form.error_summary}}

<!-- Form -->
<form method="post" novalidate {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
    <!-- Content -->
    <div class="form-group">
        <h1 class="form-title heading-large">
            Previous {% if person_type == 'APPLICANT' %}home {% endif %}address {{previous_addresses|length|add:"1"}}
        </h1>

        {{form.as_div}}
        {% csrf_token %}
        <br>
        <br>
    </div>
    <div class="form-group">
        <input type="hidden" id="id" name="id" value="{{id}}"/>
        <input type="hidden" name="state" value="update"/>
        <input type="hidden" name="person_id" value="{{ person_id }}"/>
        <input type="hidden" name="person_type" value="{{ person_type }}"/>
        <input type="hidden" name="address_id" value="{{ address_id }}">

        <input type="submit" class="button" value="Save and continue">
    </div>


    <br>
    <!-- Return to task list -->
    <div class="form-group">
        <a href="{{ list_url }}" class="link-back">Return to list</a>
    </div>
</form>

{% endblock %}