{% extends 'govuk_template.html' %}
{% block page_title %}Application Summary{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="column-full">
{% include 'back-button.html' %}
        <div class="column-third" style="background-color: #bfc1c3; margin-left: 15px; padding: 10px; margin-top: 15px; float: right; width: 30%;">
        <b style="font-weight: bold; position:absolute;">Application history:</b>
        <br>
        <a href="/arc/auditlog/?id={{application_id}}">Audit log</a>
    </div>
    <div class="grid-row">
        <h1 class="form-title heading-large">
             Application Summary
        </h1>
        <p style="width:66%;">All application details will be listed below.  They cannot be edited from this page</p>
        <p style="width:66%;">To view the audit log, please click the link on the right hand side</p>
    </div>

    {% with "2" as col %}

    {% for section in json %}
    {% include 'summary_tables.html' %}
    {% endfor %}
    {% endwith %}

    <div class="form-group grid-row">
        <form method="get" action="/arc/search">
            <input type="submit" class="button" value="Continue"/>
        </form>
    </div>
    <br>
</div>
{% endblock %}

