{% extends 'govuk_template.html' %}
{% block page_title %}Application overview{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group grid-row" style="padding-top: 30px; padding-left:15px">
            <!-- Back button -->
            <a href="{% url 'summary' %}" class="link-back"
               style="margin-right: 10px; line-height: 28px" alt='Back to application list'>
                Back
            </a>
        </div>
        <header class="page-heading page-heading-with-context">
            <h1 class="heading-xlarge">Application overview</h1>
        </header>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group">
            <table id="your-details">
                <tbody>
                <tr id="account_details">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if login_details_status == 'NOT_STARTED' %}
                        <a href="{% url 'contact_summary' %}?id={{application_id}}">
                            <span class="task-name">Your login details</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif login_details_status == 'FLAGGED' %}
                        <a href="{% url 'contact_summary' %}?id={{application_id}}">
                            <span class="task-name">Your login details</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif login_details_status == 'COMPLETED' %}
                        <a href="{% url 'contact_summary' %}?id={{application_id}}">
                            <span class="task-name">Your login details</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="children">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if childcare_type_status == 'NOT_STARTED' %}
                        <a href="{% url 'type_of_childcare_age_groups' %}?id={{application_id}}">
                            <span class="task-name">Type of childcare</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif childcare_type_status == 'FLAGGED' %}
                        <a href="{% url 'type_of_childcare_age_groups' %}?id={{application_id}}">
                            <span class="task-name">Type of childcare</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif childcare_type_status == 'COMPLETED' %}
                        <a href="{% url 'type_of_childcare_age_groups' %}?id={{application_id}}">
                            <span class="task-name">Type of childcare</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="personal_details">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if personal_details_status == 'NOT_STARTED' %}
                        <a href="{% url 'personal_details_summary' %}?id={{application_id}}">
                            <span class="task-name">Your personal details</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif personal_details_status == 'FLAGGED' %}
                        <a href="{% url 'personal_details_summary' %}?id={{application_id}}">
                            <span class="task-name">Your personal details</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif personal_details_status == 'COMPLETED' %}
                        <a href="{% url 'personal_details_summary' %}?id={{application_id}}">
                            <span class="task-name">Your personal details</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="first_aid">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if first_aid_training_status == 'NOT_STARTED' %}
                        <a href="{% url 'first_aid_training_summary' %}?id={{application_id}}">
                            <span class="task-name">First aid training</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif first_aid_training_status == 'FLAGGED' %}
                        <a href="{% url 'first_aid_training_summary' %}?id={{application_id}}">
                            <span class="task-name">First aid training</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif first_aid_training_status == 'COMPLETED' %}
                        <a href="{% url 'first_aid_training_summary' %}?id={{application_id}}">
                            <span class="task-name">First aid training</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="dbs">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if criminal_record_check_status == 'NOT_STARTED' %}
                        <a href="{% url 'dbs_check_summary' %}?id={{application_id}}">
                            <span class="task-name">Criminal record (DBS) check</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif criminal_record_check_status == 'FLAGGED' %}
                        <a href="{% url 'dbs_check_summary' %}?id={{application_id}}">
                            <span class="task-name">Criminal record (DBS) check</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif criminal_record_check_status == 'COMPLETED' %}
                        <a href="{% url 'dbs_check_summary' %}?id={{application_id}}">
                            <span class="task-name">Criminal record (DBS) check</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="health">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if health_status == 'NOT_STARTED' %}
                        <a href="{% url 'health_check_answers' %}?id={{application_id}}">
                            <span class="task-name">Health declaration booklet</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif health_status == 'FLAGGED' %}
                        <a href="{% url 'health_check_answers' %}?id={{application_id}}">
                            <span class="task-name">Health declaration booklet</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif health_status == 'COMPLETED' %}
                        <a href="{% url 'health_check_answers' %}?id={{application_id}}">
                            <span class="task-name">Health declaration booklet</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="references">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if reference_status == 'NOT_STARTED' %}
                        <a href="{% url 'references_summary' %}?id={{application_id}}">
                            <span class="task-name">References</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif reference_status == 'FLAGGED' %}
                        <a href="{% url 'references_summary' %}?id={{application_id}}">
                            <span class="task-name">References</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif reference_status == 'COMPLETED' %}
                        <a href="{% url 'references_summary' %}?id={{application_id}}">
                            <span class="task-name">References</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                <tr id="other_people">
                    <td class="task" style="padding-right: 10px; word-wrap: break-word;">
                        {% if people_in_home_status == 'NOT_STARTED' %}
                        <a href="{% url 'other_people_summary' %}?id={{application_id}}">
                            <span class="task-name">People in your home</span>
                            <strong class="task-finished task-to-do">To do</strong>
                        </a>
                        {% elif people_in_home_status == 'FLAGGED' %}
                        <a href="{% url 'other_people_summary' %}?id={{application_id}}">
                            <span class="task-name">People in your home</span>
                            <strong class="task-finished task-flagged">Flagged</strong>
                        </a>
                        {% elif people_in_home_status == 'COMPLETED' %}
                        <a href="{% url 'other_people_summary' %}?id={{application_id}}">
                            <span class="task-name">People in your home</span>
                            <strong class="task-finished">Reviewed</strong>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                </tr>
                </tbody>
            </table>
            <br>
            <br>
            {% if all_complete == True %}
            <a href="{% url 'arc-summary' %}?id={{application_id}}" class="button">Complete review</a>
            {% endif %}
        </div>
    </div>
    <div class="column-third"
         style="background-color: #bfc1c3; margin-left: 15px; padding: 10px; margin-top: 15px; float: left; width: 30%;">
        <b style="font-weight: bold;">Progress:</b>
        <br>
        {{review_count}} of 8 sections complete
        <br>
        <br>
        {% if middle_names %}
        <b style="font-weight: bold;">Name:</b> <b style="text-transform: capitalize;">{{first_name}} {{middle_names}}
        {{last_name}}</b>
        {% elif not middle_names %}
        <b style="font-weight: bold;">Name:</b> <b style="text-transform: capitalize;">{{first_name}} {{last_name}}</b>
        {% endif %}
        <br>
        {% if birth_day < 10 and birth_month < 10 %}
        <b style="font-weight: bold;">D.O.B.:</b> 0{{birth_day}}/0{{birth_month}}/{{birth_year}}
        {% elif birth_day < 10 and birth_month >= 10 %}
        <b style="font-weight: bold;">D.O.B.:</b> 0{{birth_day}}/{{birth_month}}/{{birth_year}}
        {% elif birth_day >= 10 and birth_month < 10 %}
        <b style="font-weight: bold;">D.O.B.:</b> {{birth_day}}/0{{birth_month}}/{{birth_year}}
        {% elif birth_day >= 10 and birth_month >= 10 %}
        <b style="font-weight: bold;">D.O.B.:</b> {{birth_day}}/{{birth_month}}/{{birth_year}}
        {% endif %}
        <br>
        <br>
        <b style="font-weight: bold;">Ages:</b>
        <br>
        {% if zero_to_five is True %}
        Birth up to 5 years old
        <br>
        {% endif %}
        {% if five_to_eight is True %}
        5 to 8 years old
        <br>
        {% endif %}
        {% if eight_plus is True %}
        8 years and older
        <br>
        {% endif %}
        <br>
        <b style="font-weight: bold;">Register type(s):</b>
        <br>
        {% if zero_to_five is True and five_to_eight is True and eight_plus is True %}
        Early Years
        <br>
        Childcare (both parts)
        {% elif zero_to_five is True and five_to_eight is True and eight_plus is False %}
        Early Years
        <br>
        Childcare (compulsory part)
        {% elif zero_to_five is True and five_to_eight is False and eight_plus is True %}
        Early Years
        <br>
        Childcare (voluntary part)
        {% elif zero_to_five is False and five_to_eight is True and eight_plus is True %}
        Childcare (both parts)
        {% elif zero_to_five is True and five_to_eight is False and eight_plus is False %}
        Early Years
        {% elif zero_to_five is False and five_to_eight is True and eight_plus is False %}
        Childcare (compulsory part)
        {% elif zero_to_five is False and five_to_eight is False and eight_plus is True %}
        Childcare (voluntary part)
        {% endif %}
        <br>
    </div>
    <div class="column-third"
         style="background-color: #bfc1c3; margin-left: 15px; padding: 10px; margin-top: 15px; float: left; width: 30%;">
        <b style="font-weight: bold;">Application history:</b>
        <br>
        <a href="{% url 'auditlog' %}?id={{application_id}}">Audit log</a>
    </div>
</div>

{% endblock %}