{% extends 'govuk_template.html' %}
{% block page_title %}Review: your children{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

{% for form in children_form_set %}
    {{form.error_summary}}
{% endfor %}

{% for form in children_address_form_set %}
    {{form.error_summary}}
{% endfor %}

<form method="post" novalidate>
    <h1 class="form-title heading-large">Review: your children</h1>
    <p>
        Please check the boxes if there are errors.
    </p>
    {% csrf_token %}
    {{ formset_of_children.management_form }}
    {{ formset_of_children_address.management_form }}

    <h2 class="heading-medium">Details of your children</h2>
    {% for child, test in children_object_and_form_lists %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{child.get_full_name}}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    Name
                </td>
                <td style="word-wrap: break-word">
                    {{child.get_full_name}}
                </td>
                <td class="change-answer">
                    {{ test.full_name_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="full_name{{formset_of_children.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ test.full_name_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ test.full_name_comments}}
                    </div>
                </td>
            </tr>
            <tr>
                <td style="word-wrap: break-word">
                    Date of birth
                </td>
                <td style="word-wrap: break-word">
                    {{ child.get_dob_as_date|date:"d F Y" }}
                </td>
                <td class="change-answer">
                    {{ test.date_of_birth_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="date_of_birth{{formset_of_children.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ test.date_of_birth_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ test.date_of_birth_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        {% endfor %}

    <table class="check-your-answers" style="table-layout: fixed; width: 100%">
        <colgroup>
            <col class="summary-column">
            <col class="summary-column">
            <col class="change-answer">
        </colgroup>
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your children's addresses
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="word-wrap: break-word">
                Which of your children live with you?
            </td>
            <td style="word-wrap: break-word">
                {% for child in children_living_with_childminder %}
                    {{ child.get_full_name }}
                {% empty %}
                    None
                {% endfor %}
            </td>
             <td class="change-answer">
                {{ form.children_living_with_you_declare }}
            </td>
        </tr>

    {% for child, child_address, test2 in child_addresses_and_form_list %}
        <table class="check-your-answers form-group">
            <thead>
            <tr>
                <th colspan="3">
                    <div class="heading-medium">
                        {{child.get_full_name}}'s address
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="word-wrap: break-word">
                    {{child_address.street_line1}}{% if address.street_line1 %}<br />{% endif %}
                    {{child_address.street_line2}}{% if address.street_line2 %}<br />{% endif %}
                    {{child_address.town}}{% if address.town %}<br />{% endif %}
                    {{child_address.county}}{% if address.county %}<br />{% endif %}
                    {{child_address.country}}{% if address.country %}<br />{% endif %}
                    {{child_address.postcode}}{% if address.postcode %}<br />{% endif %}
                </td>
                <td class="change-answer">
                    {{ test2.address_declare }}
                </td>
            </tr>
            <tr class="js-hidden" id="address{{formset_of_child_address.instance_id.initial}}">
                <td colspan="1">
                    <div>
                        Enter your reasoning
                    </div>
                    <div>
                        {{ test2.address_comments.help_text}}
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        {{ test2.address_comments}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        {% endfor %}


        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

{% include 'return-to-list.html' %}

</form>

{% endblock %}