{% extends 'govuk_template.html' %}
{% block page_title %}Review: Childcare training{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        Review: Childcare training
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>
    <!-- Login details -->
    <table class="check-your-answers form-group">
        <tbody>
        <tr>
            <td>
                Do you have a childcare qualification?
            </td>
            <td style="word-wrap: break-word">
                {{qualification_bool}}
            </td>
        </tr>
        <tr class="js-hidden" id="qualification_bool">
            <td colspan="1">
                <div>
                    {{ form.qualification_bool_comments.label}}
                </div>
                <div>
                    {{ form.qualification_bool_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                {{ form.qualification_bool_comments}}
            </td>
        </tr>
        <tr>
            <td>
                Have you had common core training?
            </td>
            <td style="word-wrap: break-word">
                {{core_training_bool}}
            </td>
        </tr>
        <tr class="js-hidden" id="core_training_bool">
            <td colspan="1">
                <div>
                    {{ form.core_training_bool_comments.label}}
                </div>
                <div>
                    {{ form.core_training_bool_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.core_training_bool_comments}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny-return-to-list.html' %}

</form>

{% endblock %}