<!-- {{row.name}} -->
<tr>
    <td>
        {{row.name}}
    </td>
    <td style="word-wrap: break-word">
        {% load general_table_extras %}

        {% if row.info|template_is_instance:'str' %}
            {{row.info}}

        {% elif row.info|template_is_instance:'bool' %}
            {% if row.info %}
                Yes
            {% else %}
                No
            {% endif %}

        {% elif row.info|template_is_instance:'dict' %}
            {% include 'nanny_general_address_template.html' %}

        {% endif %}
    </td>
</tr>
<tr class="js-hidden" id="{{row.id}}">
    <td colspan="1">
        <div>
            {{ form.row.id.label}}
        </div>
        <div>
            {{ form.row.id.help_text}}
        </div>
    </td>
    <td colspan="2">
        {{ form.row.id.comments}}
    </td>
</tr>
