{% extends 'govuk_template.html' %}
{% block page_title %}Previous names{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}
{% include 'back-button.html' %}

{% for form in formset %}
    {{form.error_summary}}
{% endfor %}

    <form method="post" novalidate>

        <input type="hidden" value="{{ application_id }}" name="id"/>
        {{ formset.management_form }}
        {% csrf_token %}

        <h1 class="form-title heading-large">Previous names</h1>

        {% for form in formset %}

            <h2 class="form-title heading-medium">
                Name {{ forloop.counter }}
            </h2>

            {{ form }}

            <input type="submit" class="hidden-link-2" name="delete-{{ form.previous_name_id.value|default:'' }}"
                   value="Remove this name"/>

        {% endfor %}

        <input type="submit" name="action" class="button button-secondary button-add-another" value="Add another name">
        <input type="submit" name="action" class="button" value="Confirm and continue"/>

        {% include 'nanny_templates/nanny_return_to_list.html' %}
    </form>

{% endblock %}