{% extends 'govuk_template.html' %}
{% block page_title %}Review: your sign in details{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        Review: First aid training
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>
    <table class="check-your-answers form-group">
        <tbody>
        <tr>
            <td>
                Training organisation
            </td>
            <td style="word-wrap: break-word">
                {{training_organisation}}
            </td>
        </tr>
        <tr class="js-hidden" id="training_organisation">
            <td colspan="1">
                <div>
                    {{ form.training_organisation_comments.label}}
                </div>
                <div>
                    {{ form.training_organisation_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                {{ form.training_organisation_comments}}
            </td>
        </tr>
        <tr>
            <td>
                Title of training course
            </td>
            <td style="word-wrap: break-word">
                {{training_course_title}}
            </td>
        </tr>
        <tr class="js-hidden" id="training_course_title">
            <td colspan="1">
                <div>
                    {{ form.training_course_title_comments.label}}
                </div>
                <div>
                    {{ form.training_course_title_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.training_course_title_comments}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Date you completed the course
            </td>
            <td style="word-wrap: break-word">
                {{date_course_completed}}
            </td>
        </tr>
        <tr class="js-hidden" id="date_course_completed">
            <td colspan="1">
                <div>
                    {{ form.date_course_completed_comments.label}}
                </div>
                <div>
                    {{ form.date_course_completed_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.date_course_completed_comments}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny-return-to-list.html' %}

</form>

{% endblock %}