{% extends 'govuk_template.html' %}
{% block page_title %}Review: Your sign in details{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        Review: Your sign in details
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>

    <table class="check-your-answers form-group">
        <tbody>

        <!-- Email -->
        <tr>
            <td>
                Email
            </td>
            <td style="word-wrap: break-word">
                {{email}}
            </td>
        </tr>
        <tr class="js-hidden" id="email_address">
            <td colspan="1">
                <div>
                    {{ form.email_address_comments.label}}
                </div>
                <div>
                    {{ form.email_address_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                {{ form.email_address_comments}}
            </td>
        </tr>

        <!-- Mobile phone number -->
        <tr>
            <td>
                Mobile phone number
            </td>
            <td style="word-wrap: break-word">
                {{mobile_number}}
            </td>
        </tr>
        <tr class="js-hidden" id="mobile_number">
            <td colspan="1">
                <div>
                    {{ form.mobile_number_comments.label}}
                </div>
                <div>
                    {{ form.mobile_number_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.mobile_number_comments}}
                </div>
            </td>
        </tr>

        <!-- Other phone number -->
        <tr>
            <td>
                Other phone number
            </td>
            <td style="word-wrap: break-word">
                {{add_phone_number}}
            </td>
        </tr>
        <tr class="js-hidden" id="add_phone_number">
            <td colspan="1">
                <div>
                    {{ form.add_phone_number_comments.label}}
                </div>
                <div>
                    {{ form.add_phone_number_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.add_phone_number_comments}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny-return-to-list.html' %}

</form>

{% endblock %}