{% extends 'govuk_template.html' %}
{% block page_title %}{{html_title}}{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<h1 class="form-title heading-large">
    {{title}}
</h1>
<h2 class="heading-medium">
    Application number: {{ application_reference }}
</h2>
{% with "4" as col %}
{% for context in context_list %}
{% include 'nanny_templates/nanny_summary_tables.html' %}
{% endfor %}
{% endwith %}

{% if publish_details is not None %}
    {% include 'publishing_details_opt_out_table.html' %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>
</form>

{% include 'nanny_templates/nanny_return_to_list.html' %}

{% endblock %}