{% extends 'govuk_template.html' %}
{% block page_title %}Review: Criminal record (DBS) check{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        Review: Criminal record (DBS) check
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>

    <!-- DBS certificate number -->
    <table class="check-your-answers form-group">
        <tbody>
        <tr>
            <td>
                DBS certificate number
            </td>
            <td style="word-wrap: break-word">
                {{dbs_certificate_number}}
            </td>
        </tr>
        <tr class="js-hidden" id="dbs_certificate_number">
            <td colspan="1">
                <div>
                    {{ form.dbs_certificate_number_comments.label}}
                </div>
                <div>
                    {{ form.dbs_certificate_number_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                {{ form.dbs_certificate_number_comments}}
            </td>
        </tr>

        <!-- Do you have any criminal cautions or convictions? -->
        <tr>
            <td>
                Do you have any criminal cautions or convictions?
            </td>
            <td style="word-wrap: break-word">
                {{criminal_bool}}
            </td>
        </tr>
        <tr class="js-hidden" id="criminal_bool">
            <td colspan="1">
                <div>
                    {{ form.criminal_bool_comments.label}}
                </div>
                <div>
                    {{ form.criminal_bool_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.criminal_bool_comments}}
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny-return-to-list.html' %}

</form>

{% endblock %}