{% extends 'govuk_template.html' %}
{% block page_title %}Review: Childcare address{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        Review: Childcare address
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>
    <!-- Login details -->
    <table class="check-your-answers form-group">
        <tbody>
        <tr>
            <td>
                Do you know where you will be working?
            </td>
            <td style="word-wrap: break-word">
                {{work_location_bool}}
            </td>
        </tr>
        <tr class="js-hidden" id="work_location">
            <td colspan="1">
                <div>
                    {{ form.work_location_comments.label}}
                </div>
                <div>
                    {{ form.work_location_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                {{ form.work_location_comments}}
            </td>
        </tr>
        <tr>
            <td>
                Do you work and live at the same address?
            </td>
            <td style="word-wrap: break-word">
                {{work_at_home_bool}}
            </td>
        </tr>
        <tr class="js-hidden" id="work_at_home">
            <td colspan="1">
                <div>
                    {{ form.work_at_home_comments.label}}
                </div>
                <div>
                    {{ form.work_at_home_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.work_at_home_comments}}
                </div>
            </td>
        </tr>
        {% for home_address in home_address_locations %}
        <tr>

            <td>
                Childcare address {{forloop.counter}}
            </td>
                <td style="word-wrap: break-word">

                    {% if home_address.street_line1 %}
                        {{ home_address.street_line1 }}
                    {% endif %}

                    {% if home_address.street_line2 %}
                        <br>
                        {{home_address.street_line2}}
                    {% endif %}

                    {% if home_address.town %}
                        <br>
                        {{home_address.town}}
                    {% endif %}

                    {% if home_address.county %}
                        <br>
                        {{home_address.county}}
                    {% endif %}

                    {% if home_address.postcode %}
                        <br>
                        {{home_address.postcode}}
                    {% endif %}

                </td>
        </tr>
        <tr class="js-hidden" id="childcare_address">
            <td colspan="1">
                <div>
                    {{ form.add_phone_number_comments.label}}
                </div>
                <div>
                    {{ form.add_phone_number_comments.help_text}}
                </div>
            </td>
            <td colspan="2">
                <div>
                    {{ form.add_phone_number_comments}}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny-return-to-list.html' %}

</form>

{% endblock %}