{% extends 'govuk_template.html' %}
{% block page_title %}Previous home address{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% block inner_content %}
{% include 'back-button.html' %}

{{ form.error_summary }}

<h1 class="form-title heading-large">
    Previous home address
</h1>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form.as_div }}

    <p>
        <input type="submit" class="hidden-link-2" name="delete" value="Remove this address" />
    </p>
    <p>
        <input type="submit" class="button" value="Save and continue" />
    </p>
</form>

{% include 'nanny_templates/nanny_return_to_list.html' %}

{% endblock %}