{% extends 'govuk_template.html' %}
{% block page_title %}Review: Personal details{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% load alt_text_extras %}

{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>

    <h1 class="form-title heading-large">Review: Your personal details</h1>
    <p>
        Please check the boxes if there are errors.
    </p>

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Name and date of birth
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% load general_table_extras %}
        {% for row in rows %}
        {% if row.id|template_string_in_list:'title name date_of_birth' %}
        {% include 'nanny_general_table_template.html' %}
        {% endif %}
        {% if row.id|template_string_in_list:'previous_name start_date end_date' %}
        {% include 'nanny_general_table_template.html' %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% for row in rows %}
        {% if row.id == 'name' %}
            {% if not row.id|template_string_in_list:'previous_names' %}
                <a href="{% url 'nanny_previous_names' %}?id={{ application_id }}"
                    class="button button-secondary">Add previous names</a>
                <br>
            {% endif %}
        {% endif %}
    {% endfor %}

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Individual lookup
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Individual ID
                </td>
                <td>
                    {{ individual_id|default:"" }}
                </td>
                <td class="amend-search">
                    {% if individual_id %}
                        <a href="{% url 'personal_details_individual_lookup' %}/?id={{application_id}}&referrer=nanny">Amend search</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {% if individual_id == None %}
        <a href="{% url 'personal_details_individual_lookup' %}/?id={{application_id}}&referrer=nanny" class="button button-secondary">Search for individual</a>
    {% endif %}

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your home address
                </div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
        {% if row.id|template_string_in_list:'home_address lived_abroad previous_home_address' %}
        {% include 'nanny_general_table_template.html' %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <a href="{% url 'nanny_add_previous_address_search' %}?id={{ application_id }}&amp;person_id={{ application_id }}&amp;type=APPLICANT"
       class="button button-secondary">Add previous addresses</a>

    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Your own children
                </div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
        {% if row.id|template_string_in_list:'known_to_social_services reasons_known_to_social_services' %}
        {% include 'nanny_general_table_template.html' %}
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% if show_previous_registration %}
    <table class="check-your-answers form-group">
        <thead>
        <tr>
            <th colspan="3">
                <div class="heading-medium">
                    Previous registration
                </div>
            </th>
        </tr>
        </thead>
        <tbody>

        {% for row in rows %}
        {% if row.id|template_string_in_list:'previous_registration' %}
                <tr>
                    <td>
                        Previously registered with Ofsted?
                    </td>
                    <td>
                        {% if row.info %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'nanny_previous_registration' %}/?id={{application_id}}"
                           alt="Change whether the applicant has previously registered with Ofsted">Change</a>
                    </td>
                </tr>
                {% endif %}
                {% if row.id|template_string_in_list:'individual_id' %}
                {% if show_individual_id %}
                <tr>
                    <td>
                        Individual ID
                    </td>
                    <td>
                        {{ row.info }}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'nanny_previous_registration' %}/?id={{application_id}}"
                           alt="Change the individual ID">Change</a>
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                {% if row.id|template_string_in_list:'five_years_in_UK' %}
                <tr>
                    <td>
                        Lived in England for more than 5 years?
                    </td>
                    <td>
                        {% if row.info %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="change-answer">
                        <a href="{% url 'nanny_previous_registration' %}/?id={{application_id}}"
                           alt="Change whether the applicant has lived in England for more than 5 years">Change</a>
                    </td>
                </tr>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>

    {% endif %}


    {% if not show_previous_registration %}
        {% for row in rows %}
            {% if row.id == 'name' %}
            {% if not row.id|template_string_in_list:'previous_registration' %}
            <a href="{% url 'nanny_previous_registration' %}?id={{ application_id }}&amp;person_id={{ application_id }}&amp;type=APPLICANT"
               class="button button-secondary">Add previous registration</a>
            <br>
            {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% csrf_token %}

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

    {% include 'nanny_templates/nanny_return_to_list.html' %}



</form>

{% endblock %}