{% extends 'govuk_template.html' %}
{% block page_title %}{{title}}{% endblock %}
{% load static %}
{% load govuk_template_base %}
{% load general_table_extras %}
{% block inner_content %}
{% include 'back-button.html' %}

<form method="post" novalidate>
    {% csrf_token %}

    <h1 class="form-title heading-large">
        {{ title }}
    </h1>
    <p>
        Please check the boxes if there are errors.
    </p>

    <table class="check-your-answers form-group">
        <tbody>

        {% for row in rows %}

        {% if not row.hidden %}

            {% if row.id == 'home_address_locations' %}
                {{ row.formset.management_form }}

                {% for home_address in row.info %}

                    {% with form=row.formset|return_item_by_index:forloop.counter0 %}
                        {% include 'nanny_childcare_address_template.html' %}
                    {% endwith %}

                {% endfor %}

            {% elif row.id == 'your_children_details' %}
                {{ row.formset.management_form }}

                {% include 'your-children-living-with-you.html' %}

                {% for child_record in row.info %}

                    {% with form=row.formset|return_item_by_index:forloop.counter0 %}
                        {% include 'nanny_your_child_table_template.html' %}
                    {% endwith %}

                {% endfor %}

            {% else %}

                {% include 'nanny_general_table_template.html' %}

            {% endif %}

        {% endif %}

        {% endfor %}


        </tbody>
    </table>

        {% block personal_details_review %}
            {% for row in rows %}
                {% if row.id == 'name' %}

                     <a href="{% url 'nanny_previous_registration' %}?id={{ application_id }}&person_id={{ application_id }}&type=APPLICANT" class="button button-secondary">Add previous registration</a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endblock %}

    <input type="submit" class="button" value="Confirm and continue"/>
    <input type="hidden" value="{{application_id}}" name="id"/>

   {% include 'nanny_templates/nanny_return_to_list.html' %}

</form>

{% endblock %}