{% if form.childcare_address_comments and form.childcare_address_comments.initial != '' and summary_page %} <!-- If there is an existing ARC Comment -->
<tr class="error-row">
    <td colspan="3" class="error-container notice">
        <i class="icon icon-important">
           <span class="visually-hidden">Warning</span>
         </i>
         <strong class="bold-small">
            {{ form.childcare_address_comments.initial }}
          </strong>
    </td>
</tr>

<!-- If error, ensure row with data also has appropriate css classes - else just <tr> and <td> -->
<tr class="error-row">
    <td class="error-field-label">
{% else %}
<tr>
    <td>
{% endif %}
        Childcare address {{ forloop.counter }}
    </td>
        <td style="word-wrap: break-word">

            {% if home_address.street_line1 %}
                {{ home_address.street_line1 }}
            {% endif %}

            {% if home_address.street_line2 %}
                <br>
                {{home_address.street_line2}}
            {% endif %}

            {% if home_address.town %}
                <br>
                {{home_address.town}}
            {% endif %}

            {% if home_address.county %}
                <br>
                {{home_address.county}}
            {% endif %}

            {% if home_address.postcode %}
                <br>
                {{home_address.postcode}}
            {% endif %}

        </td>
        <td>
        {% if not summary_page %}
            {{ form.childcare_address_declare }}
        </td>
</tr>
<tr class="js-hidden" id="childcare_address_{{ forloop.counter }}">

    <td colspan="1">
        <div>
            {{ form.childcare_address_comments.label }}
        </div>
        <div>
            {{ form.childcare_address_comments.help_text }}
        </div>
    </td>
    <td colspan="2">
        {{ form.childcare_address_comments }}
    </td>
</tr>

    {% else %}
</td>
    {% endif %}
